<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <header style="text-align: center">
        <h1>Send Email to Customer</h1>
    </header>
    <hr />
    <div style="text-align: center">
        <h4>Contact Client</h4>
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Title of subject" required />
            <br />
            <br />
            <input type="email" name="email" placeholder="The company e-mail" required />
            <br />
            <br />
            <textarea name="message" placeholder="Message to be delivered" required></textarea>
            <br />
            <br />
            <button class="btn btn-primary mt-2" type="submit">send</button>
            <br />
            <br />
        </form>
    </div>
</body>

</html>